$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import "compass/css3/box-shadow";
@import "icon.scss";
@import "variables.scss";

body {
  @extend .transition;
  margin: 0; padding: 0;
  font-size: 10px; font-family: $font-style-1; font-family: $font-style-1;
}

ul {
  list-style-type: none;
  margin : 0; padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/*
##############################
# Header                     #
##############################
*/

#header {
  z-index: 4;
  position: fixed;
  display: block;
  height: $width-2; width: 100%;
  background: $color-white;
}
.header-wrapper {
  @extend .clearfix;
  display: block;
}

.navigation-wrapper-slide {
  @extend .elastic-transition;
  z-index: 5;
  position: fixed; top: 0; bottom: 0; right : -40em;
  display: block;
  width: 35em;
  background: $color-bg-2;

  &.active {
    right: 0;

    #navigation-icon {

      span:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%;
      }

      span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }

      span:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
      }

    }
  }

  .wrapper-indications-header {
    position: absolute;
    width: 100%; height: $width-2;
    background: $color-bg-3;

    .bloc-indications-header {
      padding: 1em;

      .title-indications-header {
        margin: 0;
        font-family: $font-style-2; color: $color-text-1; font-size: 2.3em; text-decoration: none;
      }

      .tools-indications-header {
        margin: 0;

        a {
          font-family: $font-style-2; color: $color-text-1; font-size: 1.2em; text-decoration: none;
        }
      }
    }

  }

  .list-navigation {

    padding-top: $width-2;

    .item-navigation {
      a {
        @extend .transition;
        display: block;
        padding: 1em 2em;
        font-family: $font-style-2; color: $color-white; font-size: 1.5em; text-decoration: none;

        &:hover {
          color: $color-text-1;
          background: $color-bg-3;
        }
      }

    }
  }
}

.navigation-icon-wrapper {
  z-index: 6;
  position: fixed; right: 0;
  display: block;
  width: $width-2; height: $width-2;
  background: $color-bg-3;
}
/* Icon 1 */

#navigation-icon {
  @extend .transition;
  display: block;
  overflow: hidden;
  margin: 1.75em auto 0;
  width: 3.5em; height: 3.5em;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}

#navigation-icon span {
  @extend .transition;
  display: block;
  position: absolute; left: 0;
  width: 100%; height: 5px;
  background: $color-bg-2;
  border-radius: 4px;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  &:nth-child(1) {
    top: 0px;
  }

  &:nth-child(2) {
    top: 12px;
  }

  &:nth-child(3) {
    top: 12px;
  }

  &:nth-child(4) {
    top: 24px;
  }
}

/*
##############################
# Exam header                #
##############################
*/

#exam-header {
  @extend .clearfix;
  position:fixed; z-index: 3;
  display: block;
  margin-top:  $width-2;
  height : $header-height;
  background: $color-bg-1;
}

.wrapper-header-left {

  .bloc-header-left {
    padding : $width-1/2 $width-1;
  }

  .title-header {
    display: block;
    margin: 0;
    font-family: $font-style-2; color: $color-white; font-size: 4em; text-transform: uppercase;

    &:before {
      content: "- ";
    }
  }

  .surtitle-header {
    display: block;
    font-family: $font-style-1; color: $color-text-1; font-size: 3em; text-transform: uppercase;
  }
}

.wrapper-header-center {

  .bloc-header-center {
    padding : $width-1/2 $width-1;
  }
  .icon {
    color: $color-white;
  }

  .list-indications {
    @extend .clearfix;
    display: block;
    margin: 0;
   }

  .item-indication {
    margin: 0 2em 1em 0;
    float: left;
    font-family: $font-style-1; color: $color-text-1; font-size: 1.5em; text-transform: uppercase;
  }

  .text-indication {
    display: block;
    font-family: $font-style-2; color: $color-white; font-size: 1.4em;
  }

}

/*
##############################
# Sidebar                    #
##############################
*/

#sidebar {

  position: fixed; top: $header-height +  $width-2; bottom: 0;
  background: $color-bg-2;

  &:before {
    content: '';
    display: block;
    width: 100%;
    height: .5em;
    background-color: $color-border-1;
  }
}

.bloc-sidebar {
  padding : $width-1/4 $width-1;
  text-align: center;
}

.title-sidebar {
  margin: 0;
  font-family: $font-style-2; color: $color-text-2; font-size: 2.8em; text-transform: uppercase;
  text-align: center;
}

#stats {
  width: 100%;
}

.cta {
  @extend .transition;
  display: inline-block;
  width: 35%;
  padding: .5em; margin: 1em;
  border: 3px solid $color-bg-1;
  font-family: $font-style-2; color: $color-text-2; font-size: 2em; text-decoration: none;
  background: $color-bg-2;
  @include border-radius(7px, 7px);

  .icon {
    color: $color-white;
  }

  &:hover {
    color: $color-white;
    background: $color-bg-1;
    @include border-radius(0px, 0px);
  }
}

/*
##############################
# Sidebar questions          #
##############################
*/

.chapitre-sidebar {
  font-family: $font-style-2; color: $color-white; font-size: 1.5em; text-transform: uppercase;
}

.wrapper-progression {


  display: inline-block;
  width: 100%;
  font-family: $font-style-2; color: $color-text-2; font-size: 1.5em; text-transform: uppercase;

  .bloc-progression {

    display: inline-block;
    width: 50%; height: 1em;
    background-color: black;

    .line-progression {
      @extend .elastic-transition;
      display: block;
      width: 0%; height: 1em;
      background-color: $color-bg-1;
    }
  }
}

/*
##############################
# Main content               #
##############################
*/

.wrapper-content {
  margin-top: $header-height +  $width-2;
  margin-left: percentage(4/12);
}

.bloc-content {
  position: relative;
}

/* Tabs */

.wrapper-bloc-tabs  {
  @extend .transition-long;
  z-index: 1;
  overflow: hidden;
  position: fixed;
  display: block;

  &:after {
    @extend .transition;
    @extend .clearfix;
    content: '';
    display: block;
    width: 100%; height: 0em;

    background: rgba(237,237,237,1);
    background: -moz-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,0.47) 53%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(237,237,237,1)), color-stop(53%, rgba(246,246,246,0.47)), color-stop(100%, rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,0.47) 53%, rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,0.47) 53%, rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,0.47) 53%, rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgba(237,237,237,1) 0%, rgba(246,246,246,0.47) 53%, rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff', GradientType=0 );
  }

  &.sliding {
    &:after {
      height: 2em;
    }
  }
}

.bloc-tabs {
  @extend .clearfix;
  background: $color-bg-3;
}

.item-tabs {
  display: block;
  float: left;
  padding: 1em 0;
  width: 25%;
  font-family: $font-style-2; color: $color-text-1; font-size: 2em; text-transform: uppercase; text-align: center;

  &:hover {
    color: $color-text-2;
  }

  &.active {
    color: $color-text-2;
    background: $color-white;
  }

}

/* Search */
.bloc-search {

  .wrapper-search-input {
    @extend .transition;
    position: absolute; z-index: 1;
    right: 0;
    width: 0%;

    &.active {
      width: 100%;
    }
  }

  .search-input {
    box-sizing: border-box;
    width: 100%;
    border: none; outline: none;
    padding: 1em 3.5em;
    font-family: $font-style-2; color: $color-text-1; font-size: 2em;
  }

  .search-submit {
    @extend .transition;
    position: absolute; z-index: 2; right: 0;
    display: block;
    width: 10%;
    padding: 1em 0;
    font-family: $font-style-2; color: $color-text-1; font-size: 2em; text-align: center;

    &:hover  {
      background: $color-bg-3;
    }
  }
}

/* Table */

.table {
  border: 0;
  width: 100%;
  padding: $width-1 0 0 0;
  font-family: $font-style-2; color: $color-text-1; font-size: 1.4em;

  a {
    font-family: $font-style-2; color: $color-text-1; text-decoration: none;
  }
}

.table-head {

  text-transform: uppercase;

  .table-cell {
    padding: 1em 0;
    border-bottom: 1px solid $color-bg-1;
  }

  .table-cell-question {
    display: block;
    padding: 1em 0; margin-left: $width-1;

    &.active {

      &:before {
        background: url('design/sprite.png')-80px 0;
      }
    }

    &:before {
      content: '';
      position: absolute;
      display: block;
      width: 20px; height: 20px;
      margin-left: -2em; margin-top: 0.25em;
      background: url('design/sprite.png')-60px 0;
    }
  }

  .table-cell-question-wrapper {
    font-family: $font-style-2; color: $color-text-2; font-size: 1.5em;

    .highlight {
      font-family: $font-style-1; color: $color-text-1;
    }
  }

  .table-cell-note, .table-cell-vote {
    text-align: center;
  }
}

.table-line {

  @extend .transition;

  a {
    @extend .transition;
  }

  &:nth-child(2n+2) {
   background-color: $color-bg-3;
  }

  &:hover {
    background-color: $color-bg-1;
    color: $color-white;

    a {
      color: $color-white;
    }
  }

  .table-cell {
    padding: 1em 0;
  }

  .table-cell-question,  {
    padding: 1em $width-1;
  }

  .table-cell-note, .table-cell-vote {
    text-align: center;
  }
}

/* Icon */

.icon {
  display: inline-block;
  width: 20px; height: 20px;
  margin-right: 1em;
  &.iconko {
    background: url('design/sprite.png')0 0;
  }
  &.iconwaitforit {
    background: url('design/sprite.png')-20px 0;
  }
  &.iconok {
    background: url('design/sprite.png')-40px 0;
  }
}

/*
##############################
# Question content             #
##############################
*/

.question-title-wrapper {
  padding: $width-1;
  background: $color-bg-3;
}

.question-title {
  margin: 0;
  font-family: $font-style-2; color: $color-text-1; font-size: 2.7em;
}

.wrapper-answer {
  .list-answer {
    .item-answer {
      @extend .transition;
      padding: 0 $width-1;
      text-align: center;
      cursor: pointer;

      &:nth-child(2n+2) {
        background-color: $color-bg-3;
      }

      &:hover {
        background-color: $color-bg-2;

        .link-item-answer {
          color: $color-white;
        }
      }

      &.hide {
        height: 0;
        opacity: 0;
        .link-item-answer {
          padding: 0;
        }
      }

      &.active {
        background-color: $color-bg-4;

        .link-item-answer {
          color: $color-white !important;
        }
      }

      .link-item-answer {
        @extend .transition;
        display: block;
        padding: $width-1/4;
        text-align: center;
        font-family: $font-style-2; color: $color-text-1; font-size: 2em;
      }
    }
  }
}


/* Transition */

.ng-leave {
  animation: my_fade_animation 0.5s linear;
  -webkit-animation: my_fade_animation 0.5s linear;
}

.ng-enter {
  animation: my_fade_inverse_animation 0.5s linear;
  -webkit-animation: my_fade_inverse_animation 0.5s linear;
}

@keyframes my_fade_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-webkit-keyframes my_fade_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@keyframes my_fade_inverse_animation {
  from { opacity:0; }
  to { opacity:1; }
}

@-webkit-keyframes my_fade_inverse_animation {
  from { opacity:0; }
  to { opacity:1; }
}

.fadein,
.fadeout {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
}

.fadein.ng-hide-remove,
.fadeout.ng-hide-add.ng-hide-add-active {
  opacity: 0;
  display: block !important;
}

.fadeout.ng-hide-add,
.fadein.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
  display: block !important;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
