$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import "variables.scss";
@import "compass/css3/box-shadow";
@import "compass/css3/user-interface";
@import "compass/css3/animation";
@import "icon.scss";
@import "editor.scss";
@import "map.scss";

*:focus {
  outline: none;
}

body {
  @extend .transition;
  margin: 0; padding: 0;
  font-size: 10px; font-family: $font-style-1; font-family: $font-style-1;
  overflow-y: scroll;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
  margin : 0; padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/*
##############################
# Header                     #
##############################
*/

#header {
  @include transition(all, .25s, ease-in-out);
  z-index: 5; top: 0;
  position: fixed;
  display: block;
  height: $width-2; width: 100%;
  background: $color-white;

  &.custom-header {
    @include transition(all, .5s, ease-in-out);
    background: $color-bg-2 !important;
  }
}

.header-wrapper {
  @extend .clearfix;
  display: block;
}

.navigation-wrapper-slide {
  @extend .elastic-transition;
  z-index: 5;
  position: fixed; top: 0; bottom: 0; right : -40em;
  display: block;
  width: 35em;
  background: $color-bg-2;

  &.active {
    right: 0;

    #navigation-icon {

      span:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%;
      }

      span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }

      span:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
      }

    }
  }

  .wrapper-indications-header {
    position: absolute;
    width: 100%; height: $width-2;
    background: $color-bg-3;

    .bloc-indications-header {
      padding: 0 1em;

      .title-indications-header {
        margin: 0;
        font-family: $font-style-2; color: $color-text-1; font-size: 2em; text-decoration: none;
      }

      .tools-indications-header {
        margin: 0;

        a {
          font-family: $font-style-2; color: $color-text-1; font-size: 1.2em; text-decoration: none;
        }
      }
    }

  }

  .list-navigation {

    padding-top: $width-2;

    .item-navigation {
      a {
        @extend .transition;
        display: block;
        padding: 1em 2em;
        font-family: $font-style-2; color: $color-white; font-size: 1.5em; text-decoration: none;

        &:hover {
          color: $color-text-1;
          background: $color-bg-3;
        }
      }

    }
  }
}

.navigation-icon-wrapper {
  z-index: 6;
  position: fixed; right: 0;
  display: block;
  width: $width-2; height: $width-2;
  background: $color-bg-3;
}
/* Icon 1 */

#navigation-icon {
  @extend .transition;
  display: block;
  overflow: hidden;
  margin: 0.6em auto 0;
  width: 2.5em; height: 3.5em;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}

#navigation-icon span {
  @extend .transition;
  display: block;
  position: absolute; left: 0;
  width: 100%; height: 3px;
  background: $color-bg-2;
  border-radius: 4px;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  &:nth-child(1) {
    top: 6px;
  }

  &:nth-child(2) {
    top: 14px;
  }

  &:nth-child(3) {
    top: 14px;
  }

  &:nth-child(4) {
    top: 22px;
  }
}


/*
##############################
# Exam header                #
##############################
*/

#exam-header {
  @extend .clearfix;
  position:fixed; z-index: 3;
  display: block;
  margin-top:  $width-2;
  height : $header-height;
  background: $color-bg-1;
}

.wrapper-header-left, .wrapper-header-center, .wrapper-header-right {

  display: table;
  height : $header-height;

  .icon {
    color: $color-white;
  }

}

.bloc-header-left, .bloc-header-center, .bloc-header-right {
  display: table-cell;
  vertical-align: bottom;
  padding : 0 $width-1 4em;
}

.wrapper-header-left {

  .title-header {
    display: block;
    margin: 0;
    font-family: $font-style-2; color: $color-white; font-size: 3.8em; text-transform: uppercase;

    &:before {
      content: "- ";
    }
  }

  .surtitle-header {
    display: block;
    font-family: $font-style-1; color: $color-text-1; font-size: 3em; text-transform: uppercase;
  }
}

.wrapper-header-center {

  .list-indications {
    @extend .clearfix;
    display: block;
    margin: 0;
   }

  .item-indication {
    margin: 0 2em 1em 0;
    float: left;
    font-family: $font-style-1; color: $color-text-1; font-size: 1.5em; text-transform: uppercase;
  }

  .text-indication {
    display: block;
    margin: 0;
    font-family: $font-style-2; color: $color-white; font-size: 1.4em; line-height: 1.4;
  }

}

.wrapper-header-right {

  img {
    width: 70%;
    float: right;
  }

  .list-indications {
    display: block;
    float: right;
  }


  .item-indication {
    margin: 0 0 1em 0;
    float: left;
    font-family: $font-style-1; color: $color-text-1; font-size: 1.3em; text-transform: uppercase;

    &.blue {
      color: $color-text-1;
    }

    &.white {
      text-indent: 6px;
      color: $color-white;
    }
  }

}

/*
##############################
# Sidebar                    #
##############################
*/

#sidebar {
  z-index: 100;
  position: fixed; top: $header-height +  $width-2; bottom: 0;
  background: $color-bg-2;

  &:before {
    content: '';
    display: block;
    width: 100%;
    height: .5em;
    background-color: $color-border-1;
  }
}

.bloc-sidebar {
  padding : $width-1/4 $width-1;
  text-align: center;
}

.title-sidebar {
  margin: .5em 0;
  font-family: $font-style-2; color: $color-text-2; font-size: 2.8em; text-transform: uppercase;
  text-align: center;
}

#stats {
  width: 100%;
  opacity: 0;
  @include animation(move-right 1s ease-out 1s forwards);
}

.cta {
  @extend .transition;
  display: inline-block;
  min-width: 35%;
  padding: 1em; margin: 1em;
  border: 1px solid $color-bg-1;
  font-family: $font-style-2; color: $color-white; font-size: 1.5em; text-decoration: none;
  background: $color-bg-2;
  @include border-radius(3px, 3px);

  .icon {
    color: $color-white;
  }

  &:hover {
    color: $color-white;
    background: $color-bg-1;
    @include border-radius(0px, 0px);


      [class^="icon-"]::before, [class*=" icon-"]::before {
        @include transform(translateZ(100));
        @include animation(wobble-vertical .75s ease-in-out);
      }

  }
}

/*
##############################
# Sidebar questions          #
##############################
*/

.chapitre-sidebar {
  font-family: $font-style-2; color: $color-white; font-size: 1.5em; text-transform: uppercase;
}

.wrapper-progression {


  display: inline-block;
  width: 100%;
  font-family: $font-style-2; color: $color-text-2; font-size: 1.5em; text-transform: uppercase;

  .bloc-progression {

    display: inline-block;
    width: 50%; height: 1em;
    background-color: $color-border-1;

    .line-progression {
      @extend .elastic-transition;
      display: block;
      width: 0%; height: 1em;
      background-color: $color-bg-1;
    }
  }
}

.item-tool {
  display: inline-block;
  border: 1px solid $color-white;
  @include border-radius(5px, 5px);
}

.content-tool {
  float: left;
  display: block;
  margin: 0; padding: 0;

  a {
    @extend .transition;
    display: block;
    height: 25px; width: 25px;
    padding: 5px;
    font-size: 2em; color: $color-white;

    &:hover {
      background: $color-bg-1;
    }
  }

  p {
    display: block;
    height: 25px; width: 25px;
    margin: 0; padding: 5px;
    border-left: 1px solid $color-white; border-right: 1px solid $color-white;
    font-size: 2em; font-family: $font-style-2; color: $color-white;
  }
}

.wrapper-author-question {
  display: block;
  text-align: center;
}

.bloc-author-question {

  display: inline-block;
  padding: 1em;
  border-bottom : 1px solid $color-border-1;

  .author-question {
    margin: 0;
    font-size: 2em; font-family: $font-style-2; color: $color-white;
  }

  .author-date {
    margin: 0;
    font-size: 1.5em; font-family: $font-style-2; color: $color-text-2; font-style: italic;
  }

  .highlight {
    font-style: italic;
  }
}

/*
##############################
# Main content               #
##############################
*/
#content {
  z-index: 100;
}

.wrapper-content {
  position: absolute;
  margin-top: $header-height +  $width-2;
  margin-left: percentage(4/12);
}

.bloc-content {
  position: relative;
}

/* Tabs */

.wrapper-bloc-tabs  {
  @extend .transition-long;
  z-index: 1;
  overflow: hidden;
  position: fixed;
  display: block;

  &:after {
    @extend .transition;
    @extend .clearfix;
    content: '';
    display: block;
    width: 100%; height: 0em;

    background: rgba(237,237,237,1);
    background: -moz-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,0.47) 53%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(237,237,237,1)), color-stop(53%, rgba(246,246,246,0.47)), color-stop(100%, rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,0.47) 53%, rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,0.47) 53%, rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,0.47) 53%, rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgba(237,237,237,1) 0%, rgba(246,246,246,0.47) 53%, rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff', GradientType=0 );
  }

  &.sliding {
    &:after {
      height: 2em;
    }
  }
}

.bloc-tabs {
  @extend .clearfix;
  background: $color-bg-3;
}

.item-tabs {
  display: block;
  float: left;
  padding: 1em 0;
  width: 25%;
  font-family: $font-style-2; color: $color-text-1; font-size: 2em; text-transform: uppercase; text-align: center;

  &:hover {
    color: $color-text-2;

    [class^="icon-"]::before, [class*=" icon-"]::before {
      @include transform(translateZ(100));
      @include animation(wobble-vertical .75s ease-in-out);
    }
  }

  &.active {
    color: $color-text-2;
    background: $color-white;
  }

}

/* Search */
.bloc-search {

  .wrapper-search-input {
    @extend .elastic-transition;
    position: absolute; z-index: 1;
    right: 0;
    width: 0%;

    &.active {
      width: 100%;
    }
  }

  .search-input {
    box-sizing: border-box;
    width: 100%;
    border: none; outline: none;
    padding: 1em 3.5em;
    font-family: $font-style-2; color: $color-text-1; font-size: 2em;
  }

  .search-submit {
    @extend .transition;
    position: absolute; z-index: 2; right: 0;
    display: block;
    width: 10%;
    padding: 1em 0;
    font-family: $font-style-2; color: $color-text-1; font-size: 2em; text-align: center;

    &:hover  {
      background: $color-bg-3;
    }
  }
}

/* Table */

.table {
  padding: $width-1 0 0 0;
  font-family: $font-style-2; color: $color-text-1; font-size: 1.4em;

  a {
    font-family: $font-style-2; color: $color-text-1; text-decoration: none;
  }
}

.table-head {

  @extend .clearfix;
  display: block;
  text-transform: uppercase;
  overflow: hidden;

  .ng-hide & {
    @include animation(none);

    &:before, &:after {
      @include animation(none);
    }

    .table-cell-question {

      &:before {
        @include animation(none);
      }
    }

    .table-cell-question-wrapper {
      @include animation(none);
    }
  }

  &:after {
    content: '';
    display: block;
    width: 0%; height: 1px;
    margin: 0 5em;
    background: $color-bg-1;
    bottom: 0;
    font-size: 1em;
    overflow: hidden;
    @include animation(width 1s ease-in-out 0.5s forwards);
  }

  .table-cell {
    padding: 1em 0;
  }

  .table-cell-question {
    display: block;
    padding: 1em 0 1em $width-1;
    box-sizing: border-box;

    &:before {
      @include animation(rotate-wing 1s cubic-bezier(.33,1,.42,.96) 1s forwards);
      opacity: 0;
      content: '';
      position: absolute;
      display: block;
      width: 20px; height: 20px;
      margin-left: -2em; margin-top: 0.25em;
      background: url('design/sprite.png')-60px 0;
    }
  }

  .table-cell-question-wrapper {
    @include animation(indent 1s ease-in-out 0.5s forwards);
    font-family: $font-style-2; color: $color-text-2; font-size: 1.4em; opacity: 0;

    .highlight {
      font-family: $font-style-1; color: $color-text-1;
    }
  }

  .table-cell-note, .table-cell-vote {
    opacity: 0;
    @include animation(fade-in 1s ease-in-out 1s forwards);
    text-align: center;
  }
}

.table-line {
  position: relative;
  @extend .clearfix;
  @extend .transition;

  a {
    @extend .transition;
    padding-left: 2em;
  }

  &:nth-child(2n+1) {
   background-color: $color-bg-3;
  }

  &:hover {
    background-color: $color-bg-1;
    color: $color-white;

    a {
      color: $color-white;
    }
  }

  .table-cell {
    padding: 1em 0;
    box-sizing: border-box;
  }

  .table-cell-question,  {
    padding: 1em $width-1;
  }

  .table-cell-note, .table-cell-vote {
    text-align: center;
  }

  /* Icon */

  .icon {
    position: absolute; top: 12px;
    display: inline-block;
    width: 20px; height: 20px;
    margin-left: -2em;

    &.iconko {
      background: url('design/sprite.png')0 0;
    }
    &.iconlock {
      background: url('design/sprite.png')-100px 0;
    }
    &.iconok {
      background: url('design/sprite.png')-40px 0;
    }
  }
}

/*
##############################
# Question content             #
##############################
*/

.question-title-wrapper {
  padding: $width-1;
  background: $color-bg-3;
}

.question-title {
  margin: 0;
  font-family: $font-style-2; color: $color-text-1; font-size: 2.7em;
  font-weight: normal;
}

.wrapper-answer {
  .list-answer {
    .item-answer {
      @include transition(background-color, .25s, ease-in-out);
      padding: 0 $width-1;
      text-align: center;
      cursor: pointer;

      &:nth-child(2n+2) {
        background-color: $color-bg-3;
      }

      &:hover {
        background-color: $color-bg-2;

        .link-item-answer {
          color: $color-white;
        }
      }

      &.hide {
        @include animation(list-animation-out .5s cubic-bezier(0.420, 0.000, 0.580, 1.000) forwards);
      }

      &.false {
        @include transition(opacity, .5s, ease-in-out);
        opacity: 0.5;

        .link-item-answer {
          @include animation(wobble-horizontal 1s ease-in-out forwards);
        }
      }

      &.ng-leave {
        @include transition(none, none, none);
      }

      &.active {
        background-color: $color-bg-4;

        .link-item-answer {
          color: $color-white !important;
        }
      }

      .link-item-answer {
        @extend .transition;
        display: block;
        padding: $width-1/4;
        text-align: center;
        font-family: $font-style-2; color: $color-text-1; font-size: 2em;
      }
    }
  }
}

.wrapper-solution {
}

.text-solution {
  padding: $width-1 $width-1;
  font-family: $font-style-2; color: $color-text-1; font-size: 1.8em; text-align: center;
}

.item-comment {

  &:before {
    background-color: $color-border-2;
    content: "";
    display: block;
    height: 0.5em; width: 100%;
  }

  .header-comment {
    padding: 1em $width-1;
    background: $color-bg-3;

    .title-comment {
      margin: 0;
      font-family: $font-style-2; color: $color-text-1; font-size: 1.8em;
    }
  }

  .wrapper-content-comment {
    padding: 0 $width-1;

    .text-comment {
      font-family: $font-style-2; color: $color-text-1; font-size: 1.5em;
    }
  }
}

.wrapper-cta-editor {
  position: absolute; right: 0; margin-top: -2em;
  font-size: 1.4em;

  &:hover {
      @include animation(wobble-vertical .75s ease-in-out);
  }
}

.cta-editor {
  font-family: $font-style-2; color: $color-text-1; font-size: 1.5em;
}

/*
##############################
# Generator content          #
##############################
*/

.form-caption {
  margin: $width-1 0;
}

.form-title {
    font-size: 1.4em;
}


.form-content {
  @extend .clearfix;
  @include animation(fade-in 1s ease-in-out 1s forwards);
  opacity: 0;
  font-family: $font-style-2; color: $color-text-1;
  padding: 1em $width-1*1.4;

  .ng-hide & {
    @include animation(none);
  }

}

.form-group {
  position: relative;

  .input-option {
    display: none;
  }

  &:last-child {
    .input-option {
      display: block;
    }
  }
}

.input-option {
  @extend .transition;
  position: absolute;
  width: 1em; height: 1em;
  right: 0; top:5px;
  color: $color-text-2;
  font-size: 2em; font-family: $font-style-1;
  border: 2px solid $color-white;
  @include border-radius(5px, 5px);
  text-indent: 3px; line-height: 1;
  cursor: pointer;

  &:hover {
    border: 2px solid $color-bg-1;
  }
}


.input {

  box-sizing: border-box;

  @extend .transition;
  width: 100%;
  border: none;
  border-bottom: 1px solid $color-border-2;
  padding: .5em; padding: .5em;
  font-family: $font-style-2; color: $color-text-1; font-size: 1.5em;

  @include input-placeholder {
    font-style: italic;
  }

  &:focus {
    border-bottom: 1px solid $color-bg-2;
  }
}


.checkbox {
  float: left;
  font-size: 1.6em;
  margin: 0.5em 0;
  width: 50%;
}

.fake-radio {

  &:empty {

    ~ label {

      &:before {
        content: '+' !important;
        text-indent: 2px; line-height: 1;
        color: $color-text-2;
      }
    }
  }
}

.radio {

  &:empty {
    margin-left: -9999px;

    ~ label {
      position: relative;
      float: left;
      text-indent: 2em; color: $color-text-3;
      cursor: pointer;
      -webkit-user-select: none;  -moz-user-select: none;  -ms-user-select: none;  user-select: none;

      &:before {
        @extend .transition;
        content: '';
        position: absolute;
        display: block;
        width: 1em; height: 1em;
        border: 2px solid $color-bg-1;
        @include border-radius(5px, 5px);
      }
    }
  }

  &:checked {

    ~ label {
      color: $color-text-2;

      &:before {
        content:'\2714';
        line-height: 1em; text-indent: 2px;
        color: $color-white;
        background-color: $color-bg-1;
      }
    }

  }


}
.wrapper-cta  {
  padding: 1em 0;
}

.cta-generator {
  @extend .transition;
  cursor: pointer;
  display: inline-block;
  width: 90%;
  padding: .5em;
  border: 2px solid $color-bg-1;
  font-family: $font-style-2; color: $color-text-2;text-decoration: none; font-size: 1.6em; text-align: center;
  box-sizing: border-box;
  @include border-radius(7px, 7px);

  .icon {
    color: $color-text-1;
    margin-right: 1em;
  }

  &:hover, &:focus, &.active {
    color: $color-white;
    background: $color-bg-1;
    @include border-radius(0px, 0px);
  }
}
/* toggle hover */
input.radio:hover:not(:checked) ~ label:before {
  content:'\2714';
  line-height: 1em; text-indent: 2px;
  color: $color-text-1;
}

input.radio:hover:not(:checked) ~ label {
  color: $color-text-2;
}

/*
##############################
# Flipping image             #
##############################
*/

.bloc-image  {

  @extend .image-transition;
  display: block;
  width: 30em; height: 35em;
  margin: $width-1 auto;
  transform-style: preserve-3d;
  transform: perspective(500px);

  .img-add {
    @extend .transition;
    opacity: 0;
    z-index: 10;
    display: table;
    width: 100%; height: 100%;
    position: absolute;
    backface-visibility: hidden;
    background: $color-bg-1;
    clip-path: url(#myClip);

    .img-add-content {
      display: table-cell;
      vertical-align: middle;
      font-family: $font-style-2; color: $color-white; text-decoration: none; font-size: 14em; text-align: center;
    }

    &:hover {
      opacity: 0.75;

      .img-add-content {
        @include animation(wobble-horizontal .75s ease-in-out);
      }
    }
  }

  .img {
    display: block;
    width: 100%; height: 100%;
    position: absolute;
    backface-visibility: hidden;

    //-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 49% 100%, 0% 75%, 0% 25%);
    //clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 49% 100%, 0% 75%, 0% 25%);
    clip-path: url(#myClip);
  }

  .img-hover {
    transform: rotateY( 180deg );
  }
}

/*
##############################
# Logo                       #
##############################
*/
.background-login {

}
.wrapper-logo {
  display: block;
  width: $width-4; height: 32em;
  margin: 0 auto;
  animation : born-logo 1s steps(25, end) 1s forwards;
  background: url('design/logo.png')0 0;
  background-repeat: no-repeat;
  background-origin: content-box;
}

.wrapper-login {
  display: block;
  width: $width-4;
  margin: 0 auto;

  .form-group {
    margin: 1em 0;
  }

  .login-link {
    font-family: $font-style-2; color: $color-text-2; font-size: 1.5em;
  }

  label {
    font-family: $font-style-1; color: $color-text-1; font-size: 1.5em; text-transform: uppercase;
  }

  .cta-generator {
    width: $width-4/2;
    display: block;
    margin: 0 auto;
  }
}

/* Transition */

.table-line, .item-answer, .item-comment {

  @include animation(list-animation-in .5s cubic-bezier(0.420, 0.000, 0.580, 1.000));

  &.ng-enter {
    @include animation(list-animation-in .5s cubic-bezier(0.420, 0.000, 0.580, 1.000) forwards);
  }

  &.ng-leave {
    @include animation(list-animation-out .5s cubic-bezier(0.420, 0.000, 0.580, 1.000) forwards);
  }
}





  .view-animate.ng-leave {
    @include animation(fake .5s ease-in-out);
    .fader {
      @include animation(fade-out .5s ease-in-out backwards);
    }

  }

  .view-animate.ng-enter {
    @include animation(fake .5s ease-in-out);
    .fader {
      @include animation(fade-in .5s ease-in-out backwards);
    }
  }




.fadein,
.fadeout {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
}

.fadein.ng-hide-remove,
.fadeout.ng-hide-add.ng-hide-add-active {
  opacity: 0;
  display: block !important;
}

.fadeout.ng-hide-add,
.fadein.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
  display: block !important;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

@import "responsive.scss";
