@import "variables.scss";

/*
##############################
# Map styles                 #
##############################
*/

$color-border-grid : #e6e6e6;

$screen-width : 1920px;
$box-row-length : 20;
$box-width : $screen-width / $box-row-length;

.wrapper-map {

  .bloc-map {
    position: absolute;
    width: $screen-width;
  }
}

.box {
  display: block;
  visibility: hidden;
  opacity: 1;
  position: relative;
  width: $box-width; height: $box-width;
  float: left;
  border: 1px solid $color-border-grid;
  //border-right: 1px solid $color-border-grid;
  box-sizing: border-box;
  background: $color-white;

  &:hover {
    background: #DBDBDB;
    @include box-shadow(-.5em .5em 0em 0em #656565 inset);
    .inbox {
      @include box-shadow(-.5em .5em 0em 0em #656565);
    }
  }

  &.show {
    .inbox {
      @include transition(all, .6s, ease-out);
      display: block;
    }
  }

  &.green {
    .inbox {
      @include transition(all, .6s, ease-out);
      background: $color-bg-4;
    }
  }

  &.orange {
    .inbox {
      @include transition(all, .6s, ease-out);
      background: $color-bg-1;
    }
  }

  &.animate {
    @include transition(all, .6s, ease-out);
  }

}

.inbox {
  display: none;
  position: absolute; top : 50%; left : 50%;
  width: $box-width/4; height: $box-width/4;
  margin-top: -$box-width/8; margin-left: -$box-width/8;
  background: $color-bg-1;
}

.matrix {
  -webkit-transform:matrix(1,-0.6, 1,0.6, 0,0);
  -moz-transform:matrix(1,-0.6, 1,0.6, 0,0);
  -o-transform:matrix(1,-0.6, 1,0.6, 0,0);
  transform:matrix(1,-0.6, 1,0.6, 0,0);
}

/*
##############################
# Bloc title                 #
##############################
*/

.title-map {
  @include transition(top, .6s, ease-out);
  position: absolute; z-index: 4;
  display: table;
  height: $box-width * 1.2; width: 287px;
  font-family: $font-style-1; color: $color-white; font-size: 2em; text-transform: uppercase;
  background: $color-bg-1;
  opacity: 0;

  p {
    padding: 2em;
    display: table-cell;
    vertical-align: middle;
  }

  &:after {
    content: ''; z-index: -1;
    position: absolute; top:50%; right: 0;
    display: block;
    width: $box-width; height: $box-width;
    background: $color-bg-1;
    transform:matrix(1,-0.6, 1,0.6, 0,0);
    transform-origin: left top;
  }
}

#cta-new {
  background: $color-bg-2;

  &:after {
    background: $color-bg-2;
  }
}

/*
##############################
# Bloc header                #
##############################
*/

.exam-header-home {
  @include transition(margin-top, 0.75s, ease-out);
  position: fixed!important; z-index: 100!important;
  margin-top: 0;
  top : 100%;

  &.show {
    margin-top : -$header-height!important;
  }

}

/*
##############################
# Ville                      #
##############################
*/
.item-wrapper {
  position: absolute;
  z-index: 1;
  height: $width-3*3;
  text-align: center; text-transform: uppercase;
  font-size: 1em;

  &.item-wrapper-1 {
    left: 606px; top: 238px;

    .map-title{
      color: $color-bg-1;
    }
  }

  &.item-wrapper-2 {
    left: 991px; top: 468px;

    .map-title{
      color: $color-bg-4;
    }
  }

  .map-title{
    display: none;
    font-family: $font-style-1;
  }

  .map-date {
    display: none;
    font-family: $font-style-2; color: $color-text-1;
    margin-bottom: 2em;
  }
}
.item {
  position: absolute;
  animation : born-city 2.5s steps(25, end);
  display: none;
  width: $width-3; height: $width-3;
  background-repeat: no-repeat;
  background-origin: content-box;
  @include transition(margin-top,.5s, ease-out);

  &:before {
    //@include transition(opacity,.5s, ease-out);
    content: '';
    z-index: 11;
    opacity: 0;
    position: absolute; left: 0;
    width: $width-3; height: $width-3;
    //background: url('design/ville1.png') -$width-3*25 0;
    background-repeat: no-repeat;
    background-origin: content-box;
  }

  &:hover {
    margin-top: -2em; padding-bottom: 2em;
    background: none;
    &:before {
      opacity: 1;
    }
  }
}

.item-1 {
  background: url('design/ville1.png') -$width-3*25 0;

  &:before {
    background: url('design/ville1.png') -$width-3*26 0;
  }
}

.item-2 {
  background: url('design/ville2.png') -$width-3*25 0;

  &:before {
    background: url('design/ville2.png') -$width-3*26 0;
  }
}
