<section id="exam-header">
  <div class="wrapper-header-left col-lg-4">
    <div class="bloc-header-left">
      <span class="surtitle-header">Contrôle</span>
      <h1 class="title-header">{{exam.nom}}</h1>
    </div>
  </div>
  <div class="wrapper-header-center col-lg-4">
    <div class="bloc-header-center">
      <div class="bloc-indications">
        <ul class="list-indications">
          <li class="item-indication">
            <span class="icon icon-users"></span> {{exam.groupe}}
          </li>
          <li class="item-indication">
            <span class="icon icon-calendar"></span> {{exam.date}}
          </li>
          <li class="item-indication">
            <span class="icon icon-clock"></span> {{exam.duree}}
          </li>
        </ul>
        <p class="text-indication">{{exam.description}}</p>
      </div>
    </div>
  </div>
  <div class="wrapper-header-right col-lg-4">
    <div class="bloc-header-right">
    </div>
  </div>
  </div>
</section>

<aside id="sidebar" class="col-lg-4">
  <div class="wrapper-sidebar">
    <div class="bloc-sidebar">
      <h2 class="title-sidebar">Mes résultats</h2>
      <div class="bloc-stats">
        <canvas width="1200" height="1400" id="stats"></canvas>
      </div>
      <div class="bloc-cta">
        <a class="cta" ng-href="#/questions/{{param}}"><span class="icon icon-cycle"></span> Rejouer</a>
        <a class="cta" ng-href="#/exam/{{param}}/generator/"><span class="icon icon-feather"></span> Questionner</a>
      </div>
    </div>
  </div>
</aside>

<article id="content">
  <div class="wrapper-content col-lg-8">
    <div class="bloc-content">
      <div class="wrapper-bloc-tabs col-lg-8">
        <div class="bloc-tabs">
          <div class="bloc-search">
            <a href="#" class="search-submit"><i class="fa fa-search"></i></a>
            <div id="wrapper-search-input" class="wrapper-search-input">
              <input ng-model="query" class="search-input" type="text" placeholder="Que voulez vous trouver ?"/>
            </div>
          </div>
          <ul class="list-tabs">
            <a href="" ng-click="filters = ''">
              <li class="item-tabs" ng-class="{active: !filters.autheur}">
                <span class="icon icon-open-book"></span> Questions
              </li>
            </a>
            <a href="#">
              <li class="item-tabs">
                <span class="icon icon-heart"></span> Mes favoris
              </li>
            </a>
            <a href="" ng-click="filters.autheur = 'simplelogin:22'">
              <li class="item-tabs" ng-class="{active: filters.autheur == 'simplelogin:22'}">
                <span class="icon icon-chat"></span> Mes questions (10)
              </li>
            </a>
          </ul>
        </div>
      </div>
      <div class="bloc-table">
        <table ng-repeat="partie in parties" class="table" cellspacing="0" cellpadding="0">
          <thead>
          <tr class="table-head">
            <td class="table-cell table-cell-question">
              <div class="table-cell-question-wrapper">
                      <span class="highlight">Chapitre {{$index+1}} :
                      </span> {{partie.titre}}
              </div>
            </td>
            <td class="table-cell table-cell-vote"><span class="icon icon-thumbs-up"></span> Vote</td>
            <td class="table-cell table-cell-note"><span class="icon icon-new-message"></span> Commentaires</td>
          </tr>
          </thead>
          <tbody>

          <tr ng-repeat="question in questions| filter: { question : query, chapter : partie.id } | filter : filters" class="table-line">
            <td class="table-cell table-cell-question"><a href="#"><span class="icon" ng-class="{iconko: question.user_reponse == 'false', iconok: question.user_reponse == 'true'}"></span>{{question.question}}</a></td>
            <td class="table-cell table-cell-vote">15</td>
            <td class="table-cell table-cell-note">20</td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</article>
</main>
