<h2>Login</h2>
<div id="login" class="fader">
  <div class="wrapper-logo">

  </div>
  <div class="wrapper-login">
    <form>
      <div class="form-group">
        <label >Identifiant</label>
        <input type="text" class="form-control input" id="input-email" placeholder="Votre adress e-mail">
      </div>
      <div class="form-group">
        <label >Mot de passe</label>
        <input type="password" class="form-control input" id="input-password" placeholder="Votre mot de passe">
      </div>
      <a class="cta-generator" ng-click="login()">Connexion</a>
      <p class="login-detail">
        Pas encore inscrit ? <br> <a class="login-link" href="#/register">Créer un compte</a>
      </p>
    </form>
  </div>
  <div class="alert alert-info" role="alert">{{result}}</div>
</div>
