<!--
<div class="jumbotron">
  <h1>Bienvenue</h1>
  <p class="lead">sur l'application Riddle</p>
</div>

  <div class="panel panel-default">

    <div class="panel-heading">Les examens à venir</div>
    <div class="panel-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur elementum, ligula ut bibendum blandit, tortor diam hendrerit mauris, vel rhoncus eros massa vitae elit.</p>
    </div>

    <ul class="list-group">
      <li class="list-group-item" ng-repeat="exam in exams">
        <a href="#/exam/{{exam.$id}}">{{exam.nom}} - {{exam.date}}</a>
      </li>
    </ul>
  </div>
</div>
-->

<div class="wrapper-map fader">

  <div class="item-wrapper item-wrapper-1">
    <h2 class="map-title city-animate">Architecture</h2>
    <p class="map-date city-animate">12 juin 2015</p>
    <div ng-click="showExam('exam1')" class="item item-1 city-animate"></div>
  </div>

  <div class="item-wrapper item-wrapper-2">
    <h2 class="map-title city-animate">Philosophie</h2>
    <p class="map-date city-animate">12 juin 2015</p>
    <div ng-click="showExam('exam1')" class="item item-2 city-animate"></div>
  </div>

  <div class="item-wrapper item-wrapper-3">
    <h2 class="map-title city-animate">Mathématiques</h2>
    <p class="map-date city-animate">12 juin 2015</p>
    <div ng-click="showExam('exam1')" class="item item-3 city-animate"></div>
  </div>

  <div class="item-wrapper item-wrapper-4">
    <h2 class="map-title city-animate">Français</h2>
    <p class="map-date city-animate">12 juin 2015</p>
    <div ng-click="showExam('exam1')" class="item item-4 city-animate"></div>
  </div>

  <div class="item-wrapper item-wrapper-5">
    <h2 class="map-title city-animate">Technologies</h2>
    <p class="map-date city-animate">12 juin 2015</p>
    <div ng-click="showExam('exam1')" class="item item-5 city-animate"></div>
  </div>

  <div id="cta-new" class="title-map blue">
    <p>Nouveau</p>
  </div>

  <div class="bloc-map matrix">
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div id="test" class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
  </div>
</div>
<a ng-click="goToExam()">
  <section id="exam-header" class="exam-header-home col-lg-12">
    <div class="wrapper-header-left col-lg-4">
      <div class="bloc-header-left">
        <span class="surtitle-header">Contrôle</span>
        <h1 class="title-header">{{exam.nom}}</h1>
      </div>
    </div>
    <div class="wrapper-header-center col-lg-5">
      <div class="bloc-header-center">
        <div class="bloc-indications">
          <ul class="list-indications">
            <li class="item-indication">
              <span class="icon icon-users"></span> {{exam.groupe}}
            </li>
            <li class="item-indication">
              <span class="icon icon-calendar"></span> {{exam.date}}
            </li>
            <li class="item-indication">
              <span class="icon icon-clock"></span> {{exam.duree}}
            </li>
          </ul>
          <p class="text-indication fade">{{exam.description}}</p>
        </div>
      </div>
    </div>
    <div class="wrapper-header-right col-lg-3">
      <div class="bloc-header-right">
        <div class="list-indications">
          <div class="item-indication blue">
            {{exam.groupe}} -
          </div>
          <div class="item-indication white">
            Créé le 12/07/2015
          </div>
        </div>
        <img src="styles/design/groupe-icon.png" alt=""/>
      </div>
    </div>
    </div>
  </section>
</a>
