<!--
<div class="jumbotron">
  <h1>Bienvenue</h1>
  <p class="lead">sur l'application Riddle</p>
</div>

  <div class="panel panel-default">

    <div class="panel-heading">Les examens à venir</div>
    <div class="panel-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur elementum, ligula ut bibendum blandit, tortor diam hendrerit mauris, vel rhoncus eros massa vitae elit.</p>
    </div>

    <ul class="list-group">
      <li class="list-group-item" ng-repeat="exam in exams">
        <a href="#/exam/{{exam.$id}}">{{exam.nom}} - {{exam.date}}</a>
      </li>
    </ul>
  </div>
</div>
-->

<div class="wrapper-map">

  <div class="bloc-map matrix">
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
    <div class="box"><div class="inbox"></div></div>
  </div>
</div>
