<div class="wrapper-mobile fader">
  <div class="bloc-mobile col-lg-12 slider">
    <div class="item-mobile slide">
      <div class="wrapper-explication col-lg-6">
        .
        <div class="bloc-explication">
          <p class="title-explication">
            Création d'une question
          </p>
          <p class="chapo-explication">
            Au moins 3 pour accéder au quizz
          </p>
        </div>
      </div>
      <div class="wrapper-phone col-lg-6">
        <div class="wrapper-video">
          <div class="bloc-video">
            <video>
              <source src="styles/design/videos/1.mp4.mp4" type="video/mp4" id="vid">
              Your browser does not support the video tag.
            </video>
          </div>
        </div>
      </div>
    </div>
    <div class="item-mobile slide">
      <div class="wrapper-explication col-lg-6">
        .
        <div class="bloc-explication">
          <p class="title-explication">
            Accès au quizz
          </p>
          <p class="chapo-explication">
            Répondez à toutes les questions.
          </p>
        </div>
      </div>
      <div class="wrapper-phone col-lg-6">
        <div class="wrapper-video">
          <div class="bloc-video">
            <video>
              <source src="styles/design/videos/2.mp4.mp4" type="video/mp4" id="vid">
              Your browser does not support the video tag.
            </video>
          </div>
        </div>
      </div>
    </div>
    <div class="item-mobile slide">
      <div class="wrapper-explication col-lg-6">
        .
        <div class="bloc-explication">
          <p class="title-explication">
            Réviser de manière collaboraitves
          </p>
          <p class="chapo-explication">
            avec vos camarades
          </p>
        </div>
      </div>
      <div class="wrapper-phone col-lg-6">
        <div class="wrapper-video">
          <div class="bloc-video">
            <video>
              <source src="styles/design/videos/3.mp4.mp4" type="video/mp4" id="vid">
              Your browser does not support the video tag.
            </video>
          </div>
        </div>
      </div>
    </div>
    <div class="item-mobile slide">
      <div class="wrapper-explication col-lg-6">
        .
        <div class="bloc-explication">
          <p class="title-explication">
            Réviser de manière collaboraitves
          </p>
          <p class="chapo-explication">
            avec vos camarades
          </p>
        </div>
      </div>
      <div class="wrapper-phone col-lg-6">
        <div class="wrapper-video">
          <div class="bloc-video">
            <video>
              <source src="styles/design/videos/4.mp4.mp4" type="video/mp4" id="vid">
              Your browser does not support the video tag.
            </video>
          </div>
        </div>
      </div>
    </div>
    <div class="item-mobile slide">
      <div class="wrapper-explication col-lg-6">
        .
        <div class="bloc-explication">
          <p class="title-explication">
            Réviser de manière collaboraitves
          </p>
          <p class="chapo-explication">
            avec vos camarades
          </p>
        </div>
      </div>
      <div class="wrapper-phone col-lg-6">
        <div class="wrapper-video">
          <div class="bloc-video">
            <video>
              <source src="styles/design/videos/5.mp4.mp4" type="video/mp4" id="vid">
              Your browser does not support the video tag.
            </video>
          </div>
        </div>
      </div>
    </div>
    <div class="item-mobile slide">
      <div class="wrapper-explication col-lg-6">
        .
        <div class="bloc-explication">
          <p class="title-explication">
            Réviser de manière collaboraitves
          </p>
          <p class="chapo-explication">
            avec vos camarades
          </p>
        </div>
      </div>
      <div class="wrapper-phone col-lg-6">
        <div class="wrapper-video">
          <div class="bloc-video">
            <video>
              <source src="styles/design/videos/6.mp4.mp4" type="video/mp4" id="vid">
              Your browser does not support the video tag.
            </video>
          </div>
        </div>
      </div>
    </div>
    <div class="item-mobile slide">
      <div class="wrapper-explication col-lg-6">
        .
        <div class="bloc-explication">
          <p class="title-explication">
            Réviser de manière collaboraitves
          </p>
          <p class="chapo-explication">
            avec vos camarades
          </p>
        </div>
      </div>
      <div class="wrapper-phone col-lg-6">
        <div class="wrapper-video">
          <div class="bloc-video">
            <video>
              <source src="styles/design/videos/7.mp4.mp4" type="video/mp4" id="vid">
              Your browser does not support the video tag.
            </video>
          </div>
        </div>
      </div>
    </div>
    <div class="item-mobile slide">
      <div class="wrapper-explication col-lg-6">
        .
        <div class="bloc-explication">
          <p class="title-explication">
            Réviser de manière collaboraitves
          </p>
          <p class="chapo-explication">
            avec vos camarades
          </p>
        </div>
      </div>
      <div class="wrapper-phone col-lg-6">
        <div class="wrapper-video">
          <div class="bloc-video">
            <video>
              <source src="styles/design/videos/8.mp4.mp4" type="video/mp4" id="vid">
              Your browser does not support the video tag.
            </video>
          </div>
        </div>
      </div>
    </div>
    <div class="item-mobile slide">
      <div class="wrapper-explication col-lg-6">
        .
        <div class="bloc-explication">
          <p class="title-explication">
            Réviser de manière collaboraitves
          </p>
          <p class="chapo-explication">
            avec vos camarades
          </p>
        </div>
      </div>
      <div class="wrapper-phone col-lg-6">
        <div class="wrapper-video">
          <div class="bloc-video">
            <video>
              <source src="styles/design/videos/9.mp4.mp4" type="video/mp4" id="vid">
              Your browser does not support the video tag.
            </video>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
