<div class="jumbotron">
  <h1>{{title}}</h1>
  <p class="lead">
    <h4>{{question}}</h4>
  </p>
  <p></p>
</div>

<div class="row marketing">
  <li ng-repeat="answer in answers" ng-hide="answerMode" class="fadeout">
      <a class="btn btn-lg btn-regular" ng-click="checkAnswer(answer)">{{answer}}<span class="glyphicon"></span></a>
  </li>
</div>

<div class="jumbotron fadein fadeout" ng-show="answerMode">
  <p>{{solution}}</p>
  <a class="btn btn-lg btn-success" ng-click="nextQuestion()">Question suivante<span class="glyphicon glyphicon-ok"></span></a>
</div>
