<section id="exam-header">
  <div class="wrapper-header-left col-lg-4">
    <div class="bloc-header-left">
      <span class="surtitle-header">Contrôle</span>
      <h1 class="title-header">{{exam.nom}}</h1>
    </div>
  </div>
  <div class="wrapper-header-center col-lg-5">
    <div class="bloc-header-center">
      <div class="bloc-indications">
        <ul class="list-indications">
          <li class="item-indication">
            <span class="icon icon-users"></span> {{exam.groupe}}
          </li>
          <li class="item-indication">
            <span class="icon icon-calendar"></span> {{exam.date}}
          </li>
          <li class="item-indication">
            <span class="icon icon-clock"></span> {{exam.duree}}
          </li>
        </ul>
        <p class="text-indication">{{exam.description}}</p>
      </div>
    </div>
  </div>
  <div class="wrapper-header-right col-lg-3">
    <div class="bloc-header-right">
    </div>
  </div>
  </div>
</section>

<aside id="sidebar" class="col-lg-4">
  <div class="wrapper-sidebar">
    <div class="bloc-sidebar">
      <p class="chapitre-sidebar">Chapitre 1</p>
      <h2 class="title-sidebar">Question n°{{quizzPosition}}</h2>
      <div class="wrapper-progression">
        {{quizzPosition}} / {{quizzLength}}
        <div class="bloc-progression">
          <div class="line-progression">

          </div>
        </div>
      </div>



      <a href="" class="cta" ng-click="nextQuestion()">Question suivante<span class="icon icon-chevron-thin-right"></span></a>
    </div>
  </div>
</aside>

<article id="content">
  <div class="wrapper-content col-lg-8">
    <div class="bloc-content">
      <div class="question-title-wrapper">
        <h3 class="question-title">{{question}}</h3>
      </div>

      <div class="wrapper-answer">
        <ul class="list-answer">
          <li ng-repeat="answer in answers" ng-class="{active: answerMode && answer==answerOk, hide: answerMode && answer!=answerOk}" class="item-answer fadeout">
            <a class="link-item-answer" ng-click="checkAnswer(answer)">{{answer}}<span class="glyphicon"></span></a>
          </li>
        </ul>
      </div>

      <div class="wrapper-solution fadein fadeout" ng-show="answerMode">
        <p class="text-solution">{{solution}}</p>

        <div class="yin">

          <div class="wrapper-editor">
            <header contenteditable="true" class="header">
              This is ZenPen
            </header>

            <article contenteditable="true" class="editor content">

              <p>
                A minimalist writing zone, where you can block out all distractions and get to what's important. The writing!
              </p>

            </article>
          </div>
        </div>

        <div class="wrapper-comments">
          <ul class="list-comments">
            <li class="item-comment">
              <div class="header-comment">
                <p class="title-comment">Jeremy Bokila</p>
                <div class="wrapper-vote-comment">
                </div>
              </div>
              <div class="wrapper-content-comment">
                <p class="text-comment">
                  Pour beaucoup de prospections, les enquêtes ethnographiques ont été d’un grand secours, mais pour la plupart des autres, seuls les indices archéologiques et les écrits des auteurs anciens, avec tous les aléas d’interprétation, pouvaient servir de sources. I
                </p>
              </div>
            </li>
            <li class="item-comment">
              <div class="header-comment">
                <p class="title-comment">Jeremy Bokila</p>
                <div class="wrapper-vote-comment">
                </div>
              </div>
              <div class="wrapper-content-comment">
                <p class="text-comment">
                  Pour beaucoup de prospections, les enquêtes ethnographiques ont été d’un grand secours, mais pour la plupart des autres, seuls les indices archéologiques et les écrits des auteurs anciens, avec tous les aléas d’interprétation, pouvaient servir de sources. I
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>


    </div>
  </div>
</article>
</main>

